/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 *= require toastr
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), font-url('quicksand.woff2') format('woff2');
}

body {
  /* padding: 20px; */
  background-color: #D8D8D8;
  font-family: /*'Quicksand',*/ 'Ubuntu', 'sans-serif';

  /* @media (min-width: @screen-sm-min) { */
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.panel {
  margin: auto;
  /*width: 800px;*/
}

.panel-heading {
  height: 50px;
  h3 {
    line-height: 30px;
  }
}

.navbar {
  @media (max-width: 992px) {
    margin-bottom: 3px;
  }

  li.slim a {
    padding-left: 3px;
    padding-right: 3px;
  }
}

#main-content.container-fluid {
  @media (max-width: 992px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.panel-body {
  /* @media (min-width: @screen-md-min) { */
  @media (min-width: 992px) {
    padding: 15px 0px 15px 0px;
  }
  @media (max-width: 992px) {
    padding: 0px;
  }

  .list-group-item {
    border-radius: 0;
    border-left: 0px !important;
    border-right: 0 !important;
  }
}

.panel {
  .panel-heading {
    background-color: #9ae297 !important;
  }

  .panel-heading.not-active {
    background-color: #ccc !important;
  }

  .panel-heading.agenda {
    background-color: #99bbff  !important;
  }

  .panel-heading.edit {
    background-color: #F7D358 !important;
  }

  .panel-heading.purchase {
    background-color: #A9D0F5 !important;
  }
}

.list-group-item {
  /* @media (min-width: @screen-md-min) { */
  @media (min-width: 992px) {
    padding: 10px 40px;
  }

  .shy {
    /* Always show on touch devices */
    @media (min-width: 992px) {
      visibility: hidden;
    }
  }
}

.list-group-item:hover {
  .shy {
    visibility: visible;
  }
}

.list-group-item.not-active {
  color: #aaa !important;
}

a.list-group-item:hover {
  background-color: #CEF6CE !important  ;
}

.list-group-item:hover {
  background-color: #fafafa !important  ;
}

.list-group-item.header {
  background-color: #f4f4f4 !important;
  height: 35px;
  line-height: 5px;

  .glyphicon {
    line-height: inherit;
  }
}

.list-group-item.footer {
  background-color: #fafafa !important;
}

.btn {
  margin-left: 10px;

  /* @media (min-width: @screen-sm-min) { */
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.row {
  margin-top: 5px;
}

select {
  max-width: 150px;
  height: 34px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #555;
  padding: 5px;
  border-radius: 4px;
  @media (max-width: 768px) {
    height: 26px;
  }
}

textarea {
  width: 400px;
  height: 200px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #555;
  padding: 5px;
  border-radius: 4px;
}

input[type='text'], input[type='number'] {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #555;
  padding: 5px;
  border-radius: 4px;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

input[type='text'] {
  @media (min-width: 768px) {
    width: 300px;
  }
  @media (max-width: 768px) {
    width: 200px;
    height: 26px;
  }
}

input.short {
  width: 80px;
}

input[type='number'] {
  @media (min-width: 768px) {
    width: 70px;
  }
  @media (max-width: 768px) {
    width: 40px;
    height: 26px;
  }
}

input[type='submit'] {
  border: 1px solid #8ccfcf;
  background-color: #CEF6CE;
  color: #555;
  padding: 5px;
  border-radius: 4px;
}

input[type='submit']:hover {
  background-color: #81F79F;
}

.well {
  background-color: #fafafa;
}

.no-padding-left {
  padding-left: 0 !important;
}

.m-r {
  margin-right: 8px;
}

.m-l {
  margin-left: 8px;
}

.m-t {
  margin-top: 8px;
}

.m-b {
  margin-bottom: 8px;
}

.m-l-x {
  margin-left: 25px;
}

.text-muted {
  color: #c5c5c5;
}

a.btn.danger:hover {
  color: #B40404;
}

/* HTML5 meter - @see http://blog.teamtreehouse.com/use-meter-progress-elements */

meter {
  width: 30px;
  height: 8px;
  border-radius: 2px;
  -webkit-appearance: none; /* Reset appearance */
  -moz-appearance: none;
  appearance: none;
}
meter::-webkit-meter-bar {
  background: #f4f4f4;
  background-size: 50px 20px;
}

meter::-webkit-meter-optimum-value {
    background: #81F79F;
}

meter::-webkit-meter-suboptimum-value {
    background: #F7D358;
}

meter::-webkit-meter-even-less-good-value {
    background: #FE4E4E;
}

.red {
  color: #dd4444;
}

.yellow {
  color: #F7D358;
}

h4 {
  margin-left: 10px;
  font-style: italic;
}
hr {
  margin: 40px 25px;
}

#notice {
  margin-top: -20px;
  text-align: center;
}

.hint {
  font-weight: lighter;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 5px;
  box-shadow: 0 1px 1px 0 #ddd;

  .glyphicon, .fa {
    margin: 0 5px 0 1px;
  }
}

nav {
  .glyphicon, .fa {
    margin: 0 5px 0 1px;
  }

}
.center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.no-border {
  border: 0;
}

.note {
  color: #C5C5C5;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 10px;
}
